* {
  margin: 0;
}

.btn-zone {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
}
.btn-zone__btn {
  padding: 1rem;
  border: 0.1rem solid #579c87;
  border-radius: 15px;
  color: #fdcb46;
  background: #579c87;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.5;
}

.header {
  cursor: pointer;
  background-color: #579c87;
  padding: 4.5rem 0;
}
.header__title {
  color: #fdcb46;
  text-align: center;
  font-size: 4.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 97%;
  margin: auto;
  display: flex;
  padding: 0.25rem 1.75rem;
  justify-content: space-between;
  background-color: #579c87;
}
.footer__link {
  font-size: 2.25rem;
  font-weight: 400;
}
.footer__link--style {
  color: #fdcb46;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}

.menu {
  margin: auto;
  width: 96%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  font-size: 2rem;
  padding-top: 4rem;
  margin-bottom: 4rem;
}
.menu:last-child {
  margin-bottom: 0;
  padding-bottom: 4rem;
}
.menu__plat {
  grid-column: 2/11;
}
.menu__prix {
  text-align: end;
}

.menus {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  text-align: center;
}
.menus__title {
  font-size: 3.5rem;
  margin-bottom: 4rem;
}
.menus__title--light {
  font-size: 2.75rem;
}

.main-zero {
  padding: 5rem 0;
}

.main-one {
  background-color: #fcdfdb;
  font-family: "Satisfy", cursive;
  padding-bottom: 5rem;
}
.main-one__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.main-one__title--text {
  font-size: 2rem;
  font-family: "Kalam", cursive;
}
.main-one__title--border {
  height: 10px;
  width: 30%;
  background-color: #000;
}

.main-two {
  background-color: #fff5fe;
  font-family: "Damion", cursive;
  padding-bottom: 5rem;
}
.main-two__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.main-two__title--text {
  font-size: 2rem;
  font-family: "Tinos", serif;
}
.main-two__title--border {
  height: 10px;
  width: 30%;
  background-color: #000;
}

.main-three {
  background-color: #edefef;
  font-family: "Great Vibes", cursive;
  padding-bottom: 5rem;
}
.main-three__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.main-three__title--text {
  font-size: 2rem;
  font-family: "Merienda One", cursive;
}
.main-three__title--border {
  height: 10px;
  width: 30%;
  background-color: #000;
}

.main-four {
  background-color: #fdfffd;
  font-family: "Kaushan", cursive;
  padding-bottom: 5rem;
}
.main-four__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.main-four__title--text {
  font-size: 2rem;
  font-family: "Merienda One", cursive;
}
.main-four__title--border {
  height: 10px;
  width: 30%;
  background-color: #000;
}

.menu-prev {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-around;
}
.menu-prev__flex {
  width: 45%;
}
.menu-prev__prev {
  cursor: pointer;
  text-align: center;
  padding: 12rem 0;
  margin-bottom: 5rem;
  height: 400px;
  transform: scale(1);
  transition: transform 0.5s, box-shadow 0.5s 0.3s;
}
.menu-prev__prev:hover {
  transform: scale(1.15);
  box-shadow: 0 0 2rem #9E9E9E;
}
.menu-prev__name {
  margin-bottom: 5rem;
  font-size: 3rem;
}
.menu-prev__name--big {
  font-size: 4rem;
}

/*# sourceMappingURL=style.css.map */
