.btn-zone{
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
    &__btn{
        @include btn;
    }
}

.loading:after {
    content: ' . ';
    margin-right: 16px;
    animation: dots 1.75s steps(5, end) infinite;
}