// Color (order : index/mentions/contact, menu 1 2 3 4

$color-primary: #fff;
$color-secondary: #579c87;
$color-fontpri: #fdcb46;

$color-boxshadow: #F1F1F1;

$color-firstmenu: #fcdfdb;
$color-secondmenu: #fff5fe;
$color-thirdmenu: #edefef;
$color-fourthmenu: #fdfffd;