.footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: $color-secondary;  
    &__link{
        display: flex;
        justify-content: space-between;
        padding: 0 1.5rem;
        font-size: 2rem;
        font-weight: 400;
        @media screen and (max-width: 449px) {
            font-size: 1.25rem;
            padding: 0 .5rem;
        }
        &--style{
            color: $color-fontpri;
            text-decoration: none;
            font-family: 'Nunito', sans-serif;
            &:hover{
                animation: wiggle-two .1s  ease-in-out infinite alternate;
            }
        }
    }
}