.footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: $color-secondary;  
    &__link{
        display: flex;
        justify-content: space-between;
        padding: 0 1.5rem;
        font-size: 2.25rem;
        font-weight: 400;
        &--style{
            color: $color-fontpri;
            text-decoration: none;
            font-family: 'Nunito', sans-serif;
            &:hover{
                animation-name: wiggle-one;
                animation-duration: 1s;
                animation-iteration-count: 1;
                animation-timing-function: ease-in-out;
            }
            
        }
    }
}