// .main-zero{
//     padding-top: 6rem;
// }

.main{
    padding-bottom: 5rem;
    width: 90%;
    margin: auto;
    &__one{
        @include font-menu(one);
    }
    &__two{
        @include font-menu(two);
    }
    &__three{
        @include font-menu(three);
    }
    &__four{
        @include font-menu(four);
    }
    &__title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 98%;
        margin: auto;
        &:hover{
            & .slide-bare{
                & > .slide-bare__progress{
                    transform: scaleX(1);
                }
            }
        }
        &--text{
            font-size: 2.5rem;
            text-align: center;
        }
        &--border{
            height: 10px;
            width: 30%;
            border-radius: 10px;
            @media screen and (max-width: 950px){
                width: 15%;
            }
            @media screen and(max-width: 550px){
                width: 5%;
            }
        }
    }
    &__border{
        &--one{
            background-color: #000;
            @include responcive(950px, 550px);
        }
        &--twofirst{
            background-color: $colormenu-twosec;
            @include responcive(1200px, 750px);
        }
        &--twosec{
            background-color: $colormenu-twothi;
            @include responcive(1200px, 750px);
        }
        &--twothird{
            background-color: $colormenu-twofou;
            @include responcive(1200px, 750px);
        }
        &--three{
            background-color: $colormenu-threesec;
            @include responcive(1200px, 750px);
        }
        &--fourleft{
            @include gradientback($colormenu-fourpri);
            @include responcive(1100px, 650px);
        }
        &--fourright{
            @include gradientback($colormenu-fourthi);
            @include responcive(1100px, 650px);
        }
    }
}