.main-zero{
    padding-top: 6rem;
}

.main{
    padding-bottom: 5rem;
    &__one{
        @include font-menu(one);
    }
    &__two{
        @include font-menu(two);
    }
    &__three{
        @include font-menu(three);
    }
    &__four{
        @include font-menu(four);
    }
    &__title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        &:hover{
            & .slide-bare{
                & > .slide-bare__progress{
                    transform: scaleX(1);
                }
            }
        }
        &--text{
            text-align: center;
            font-size: 2.5rem;
        }
        &--border{
            height: 10px;
            width: 30%;
            border-radius: 10px;
        }
    }
    &__border{
        &--one{
            background-color: #000;
        }
        &--twofirst{
            background-color: $colormenu-twosec;
        }
        &--twosec{
            background-color: #f82376;

        }
        &--twothird{
            background-color: $colormenu-twothi;

        }
        &--three{
            background-color: $colormenu-threesec;
        }
        &--fourleft{
            @include gradientback($colormenu-fourpri);
        }
        &--fourright{
            @include gradientback($colormenu-fourthi);
        }
    }
}